body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
.product {
  display: inline-block;
  width: 200px;
  background-color: white;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.product img {
  width: 100px;
  height: 100px;
}
.product:hover {
  outline: 2px solid rgb(0, 0, 3);
  outline-offset: 5px;
}
.price {
  color: rgb(10, 71, 2);
  font-weight: bold;
}
a {
  display: inline-block;
  background-color: rgb(0, 183, 255);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 5px;
}


























































/*
a:hover {
  background-color: darkblue;
}
*/